<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" id="modalHeader">
            <h5 class="modal-title">Profil</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalBody">
            {% include 'components/Profil/Profil.html' %}

        </div>
        <div class="modal-footer" id="modalFooter">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>