{% load static %}
<div class="container">
    <a class="btn btn-primary btn-sm" href="{% url 'logout' %}">Se déconnecter</a>
</div>

<div class="container py-5">

    <img src="{% static 'css/images/image_profil.svg' %}" class="card-img-top" alt="image du profil" style="width: 80%;
            margin: 5px auto;" />

</div>

<div class="container">
    <h5 class="card-title">Email : {{ request.user.email }}</h5>
    <p class="card-text">Nom apparaissant sur vos RDV! <b>{{ request.user.first_name }}</b></p>
    <a href="{% url 'modifier_password' %}" class="btn btn-primary btn-sm">Changer votre mot de passe</a>
</div>