{% extends "layout/users.html" %}

{% block content %}

<div class="container">
    <div class="btn-group">
        <a class="btn btn-outline-secondary" href="{% url 'add_contact' %}">Ajouter contact +</a>
        <a class="btn btn-outline-secondary" href="{% url 'add_liste_contact' %}">Ajouter Liste +</a>
      </div>
</div>

<div class="container">
    {% for contact in contacts %}
    <div class="card">
        <div class="card-body">
            <p>
                {{ contact.nom }}
            </p>
            <p>
                {{ contact.email }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}