<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" id="modalHeader">
            <h5 class="modal-title fs-5" id="modalTitle">Modifier sa participation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalBody">
            {% include 'components/Participant/UpdateParticipantForm.html' %}
        </div>
        <div class="modal-footer" id="modalFooter">
            <span id="modalFooterButtons"></span>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
    </div>
</div>