{% extends "layout/registration.html" %}

{% block content %}

<div class="container">
  <a href="javascript:history.back()"><u>Page de connexion</u></a>
</div>

<div class="container">

  <div class="my-3">
    <p class="text-center h1 fw-bold">Créer un compte</p>
    <div class="form-text">Les champs marqués d'une étoile <b>(*)</b> sont obligatoires</div>
  </div>


  <form action="{% url 'registration' %}" method="POST">
    {% csrf_token %}

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email (*)</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
        required>
      <div id="emailHelp" class="form-text">Votre adresse mail qui servira comme identifiant de connexion.</div>
    </div>
    <div class="mb-3">
      <label for="nom" class="form-label">Votre nom (*)</label>
      <input type="text" class="form-control" id="nom" aria-describedby="Votre nom" name="nom">
      <div id="nomHelp" class="form-text">Le nom qui apparaitra sur vos rendez-vous, ce nom pourra être modifié.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe (*)</label>
      <input type="password" class="form-control" id="password" name="password" onkeyup="check_passwords()" required
        pattern=".{8,}" title="8 caractères minimum" required>
      <div id="check_password" class="form-text"></div>
    </div>

    <button type="submit" class="btn btn-primary">Créer son compte!</button>
    <button type="reset" class="btn btn-danger">Tout effacer</button>
  </form>


</div>





{% endblock content %}