<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid d-flex">
        
        <span class="navbar-brand mb-0 h1">Logo</span>


          <nav class="nav">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">RDV!</a>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Options
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'gerer_rdvs' %}">Gérer ses Rendez-vous</a></li>
                <li><a class="dropdown-item" href="{% url 'contacts' %}">Contacts</a></li>
                <li><a class="dropdown-item" href="{% url 'test_download' %}">Télécharger ics</a></li>
              </ul>
            </li>
          </nav>
        
       
        

        <!--
<nav class="nav">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link disabled">Disabled</a>
        </nav>

        -->
        
       
        <!--
<ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">RDV!</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Options
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'gerer_rdvs' %}">Gérer ses Rendez-vous</a></li>
                      <li><a class="dropdown-item" href="{% url 'contacts' %}">Contacts</a></li>
                      <li><a class="dropdown-item" href="{% url 'test_download' %}">Télécharger ics</a></li>
                    </ul>
                  </li>
            
            </ul>

        -->
            

       
            


            {% if user.is_authenticated %}

            
            <span class="navbar-text ms-auto">
                <a class="nav-link" aria-current="page" href="{% url 'profil' %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg></a>
            </span>
        
    </div>
   
    
    {% endif %}
</nav>