body {
	background-color: #002b44;
	color: white;
}

.card-body-custom {
	background-color: black;
	color: white;
}

.btn-infos-custom {
	border: 1px solid black;
	background-color: gold;
}

.btn-settings-custom {
	background-color: white;
	color: black;
	border: 1px solid black;
}

.btn-delete-custom {
	background-color: hotpink;
}

.btn-delete2-custom {
	background-color: hotpink;
	width: 35px;
}

.btn-people-fill-custom {
	background-color: black;
	color: white;
}

.btn-people-add-custom {
	background-color: lime;
	color: black;
}

.btn-modify-custom {
	background-color: black;
	color: white;
}

.titre {
	font-family: "Gill Sans", sans-serif;
	padding: 20px;
	text-decoration: underline;
	font-weight: bold;
	color: white;
}

.statut-PR {
	background-color: chartreuse;

}

.statut-AB {
	background-color: #ec5372;
}

.statut-IN {
	background-color: blueviolet;
	color: white;
}

.statut-RE {
	background-color: gold;
}

.card-custom {
	border-radius: 0;
}

.list-group-item-custom {
	border: none;
}

.btn-default {
	background-color: rgb(0 0 0 / 5%);
	color: #0f0f0f;
	transition: background-color .5s cubic-bezier(.05, 0, 0, 1);
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 1.2rem;
	line-height: 2rem;
	font-weight: 500;
}

.form-check-input-perso {
	border: 2px solid rgba(0, 0, 0);
	border-radius: 0px;
}