<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>

    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Logo</a>

        </div>
    </nav>

    <div class="container">

        <h1>OOOOOOOOOoooooooopppsss Wrong page !!!</h1>

    </div>

    {% load static %}
    <!-- JavaScript Bundle with Popper -->
    <script type="text/javascript" src="/static/js/jquery.js"></script>


</body>

</html>