{% extends "layout/users.html" %}

{% block content %}
  

  {% if messages %}

    {% for message in messages %}
    <div class="alert {% if message.tags %} {{ message.tags }} {% endif %}" role="alert">
      {{ message }}
    </div>
   
    {% endfor %}

{% endif %}

<div class="container my-3">
  <p class="text-center h1 fw-bold">Modifier votre mot de passe</p>
  <div class="form-text">Les champs marqués d'une étoile <b>(*)</b> sont obligatoires</div>
</div>

<div class="container">


  {# Display a form #}
  <form action="{% url 'modifier_password' %}" method="POST">
    {% csrf_token %}


    <div class="d-flex flex-row align-items-center mb-4">
      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
      <div class="form-outline flex-fill mb-0">
        <input type="password" id="password" class="form-control" name="password" onblur="checkPasswords()" />
        <label class="form-label" for="password">New Password (*)</label>
      </div>
      
    </div>
    <div role="alert" id="mot_de_passe"></div>

    <div class="d-flex flex-row align-items-center mb-4">
      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
      <div class="form-outline flex-fill mb-0">
        <input type="password" id="password2" class="form-control" name="password2" onblur="checkPasswords()"/>
        <label class="form-label" for="password2">Repeat your password (*)</label>
      </div>
    </div>


    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
      <input id="submit" type="submit" class="btn btn-primary btn-sm" value="Modifier" disabled />
    </div>

  </form>


</div>

   
   <script>

  function checkPasswords() {
        let password = document.getElementById("password").value;
        let password2 = document.getElementById("password2").value;
        let submit = document.getElementById("submit");
        let mot_de_passe = document.getElementById("mot_de_passe");
        mot_de_passe.className = "";
        mot_de_passe.innerHTML = "";

        var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[+!@#\$%\^&\*])(?=.{8,})");
        if(strongRegex.test(password)) {
          if(password === password2) {
              submit.disabled = false;
              return true;
          }
        }
        else {
          mot_de_passe.className = "alert alert-warning";
          mot_de_passe.innerHTML = "le mot de passe doit contenir les caractères suivants : <br />" +
          "8 caractères au minimum <br />" +
          "Au moins 1 minuscules <br />" +
          "Au moins 1 majuscule <br />" +
          "Au moins 1 chiffre <br />" +
          "Au moins 1 caractère spécial : +!@#\$%\^&\*";
        }
        
        submit.disabled = true;
        return false;
        
  }

   
</script>



{% endblock content %}