    <div class="modal-header">
        <h5 class="modal-title">Ajouter un participant</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body" id="ModalAddParticipantBody">

        {% include 'users/1_gestion_rdv/partials/ParticipantForm.html' %}

    </div>
    
    <div class="modal-footer" id="modal_footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary"
        hx-include="#form"
        hx-post="{% url 'x_addParticipant' rdv_id  %}"
        hx-target="#ModalAddParticipantBody"
        hx-swap="innerHtml"
        >Ajouter</button>
    </div>